.hospitals__main-title {
    text-align: center;
    padding: 10px;
    padding-top: 30px;
    /* color: #0d6efd; */
    color: #8cbaff; /*temp*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.hospitals-wrapper {
    display: flex;
    justify-content: center;
}
.hospitals {
    width: 100%;
    max-width: 1200px;
}
.hospitals__main-title:hover {
    transition: 0.3s;
}

.hospitalsTitle div {
    width: 10px;
    height: 10px;
    background-color: red;
}
.hospitals__hospitals-container {
    display: flex;
    flex-wrap: wrap;
}
.hospitals__hospitals-container__card {
    width: 18rem;
    color: black;
    margin: 20px;
    transition: all 0.2s ease;
}

.hospitals__hospitals-container__card:hover {
    transition: 0.3s;
    /* transform: translateX(10px); */
    transform: translateY(-10px);
    /* opacity: 0.7; */
}
.hospitals__hospitals-container__card__card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hospitals__hospitals-container__card__card-body h5 {
    font-family: "Oswald", sans-serif;
}
.hospitals__hospitals-container__card__card-body p,
h6 {
    color: #777;
    font-family: "Roboto", sans-serif;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}
