.title{
    margin-top: 2rem;
}

hr{
    margin: 0 3rem;
}

.dots{
    border: 0;
    border-top: 0.4rem dotted black;
    margin: 1rem 45%;
}

.about_parent_container{
    display: grid;
    grid-template-columns: auto auto;
}

.myself{
    padding: 2rem;
    text-align: center;
    margin: 2rem 1rem;
}


.myself h1{
    font-size: 2.5rem;    
}

.myself hr{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.myself p{
    font-size: 1.4rem;
    line-height: 2rem;
}

.about_member{
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 560px){

    .dots{
        border-top: 0.3rem dotted black;
    }

    .about_parent_container{
        display: grid;
        grid-template-columns: auto;
    }

    .myself{
        padding: 1rem;
        margin: 1rem 1rem;
    }

    .myself h1{
        font-size: 1.5rem;    
    }

    .myself hr{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    .myself p{
        font-size: 1rem;
        line-height: 1.5rem;
    }

}