@import url("https://fonts.googleapis.com/css2?family=Glory&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Glory", sans-serif;
}

.parent_home_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    height: 100vh;
    max-height: 1000px;
    width: 100%;
    background: url("./assets/home_bg.png") center center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

#home {
    z-index: 1;
    position: absolute;
}

#home h1 {
    font-size: 4rem;
    font-weight: 900;
    color: ivory;
}

#home h2 {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 900;
    color: ivory;
}

@media only screen and (max-width: 720px){


    /* //////////////////// Home CSS ///////////////////// */

    .parent_home_container {
        height: 80vh;
    }

    #home h1{
        font-size: 2.1rem;        
        margin-top: 3rem;        
    }
    
    #home h2{
        margin: 0 1rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
        font-size: 1.8rem;
    }

}


@media only screen and (max-width: 380px){

    #home h1{
        font-size: 1.8rem;        
        margin-top: 1rem;        
    }
    
    #home h2{
        margin: 0 1rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
        font-size: 1.5rem;
    }

}